/* Compact Namespace and Node Type Definition (CND) */

<intermediate='http://www.jcr.mcella.it/repository-upgrade/2.0'>

[intermediate:properties] mixin
    - intermediate:deletable (boolean)
    - intermediate:system (boolean)

[intermediate:versionInfo] mixin
    - intermediate:versionDescription (STRING)

[intermediate:element] > mix:referenceable, nt:hierarchyNode abstract

[intermediate:file] > intermediate:element, intermediate:properties, intermediate:versionInfo, nt:file

[intermediate:folder] > intermediate:element, intermediate:properties
  + * (nt:hierarchyNode) version