/* Compact Namespace and Node Type Definition (CND) */

<app='http://www.jcr.mcella.it/repository-upgrade/2.0'>

[app:properties] mixin
    - app:system (boolean)

[app:describable] mixin
    - app:description (STRING)

[app:versionInfo] mixin
    - app:versionDescription (STRING)

[app:element] > mix:referenceable, nt:hierarchyNode abstract

[app:file] > app:element, app:properties, app:describable, app:versionInfo, nt:file

[app:folder] > app:element, app:properties, app:describable
  + * (nt:hierarchyNode) version