/* Compact Namespace and Node Type Definition (CND) */

<app='http://www.jcr.mcella.it/repository-upgrade/1.0'>

[app:attributes] mixin
    - app:hidden (boolean)

[app:versionInfo] mixin
    - app:versionDescription (STRING)

[app:element] > mix:referenceable, nt:hierarchyNode abstract

[app:file] > app:element, app:versionInfo, nt:file

[app:folder] > app:element, app:attributes
  + * (nt:hierarchyNode) version